{% extends "layout.html" %}
{% block content %}
    <h2>{{ subtitle }}</h2>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    setInterval(function() {
       $("p").toggleClass("red")
    }, 2000)
    </script>
  <!--   footer -->
     {% block footer %}
   <div class="container">
      <div id="footer">
        
           <center><h2>Best price</h2>
           <p> Best price webpage is where a user can search for 
             a product and get related products <br/> that are either less expensive 
             or more suited to their needs, <br/>
             placing the power of choice back in the user’s hands.&copy 2021</p>
           </center>
     </div>
  </div>
   {%- endblock %}
<!--   footer end -->
{% endblock content %}
