{% extends "layout.html" %}
{% block content %}
<html>
<head>
	<title>Python Flask Simple Shopping Cart</title>
</head>
<body>
	<div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</div>

	<div id="item-grid">
		<div class="txt-heading">Product Information</div>

			<div class="item-item">
				<form method="post" action="/add">
					<div class="item-tile-footer">
                    
						<div class="item-title">{{ item['name'] }}</div>
                        <div class="row">
                            <div class="column">
                                <div class="item-image"><img src="{{ item['pic'] }}" style=max-width:400px;max-height:400px;></div>
                                <div class="item-date"><b>{{ item['startDate'] }}</b></div>
                                <div class="item-price">Regular Price: <b>${{ item['price'] }}</b></div>
                                <div class="item-sale">Sale Price: <b>${{ item['salePrice'] }}</b></div>
                                <div class="item-rating">Rating: <b>{{ item['rating'] }}</b></div>
                            </div>
                            <div class="column">
                                <div class="item-description">{{ item['description'] }}</div>
                            </div>
                        </div>
					</div>
				</form>
			</div>
            
<hr>
        
<!--         Alternatives -->
        
        <div class="txt-heading">Alternative Products</div>
        
        <div class="wrapper">
        
        {% for alt in alternatives.values() %}

			<div class="alt-item">
				<form method="post" action="/add">
					<div class="alt-image"><img src="{{ alt['pic'] }}" style=max-width:325px;max-height:325px;></div>
					<div class="alt-tile-footer">
						<div class="alt-title">{{ alt['name'] }}</div>
                        <div class="alt-price">${{ alt['price'] }}</div>
                        <div class="alt-cart"><a href="{{ alt['addToCartUrl'] }}">Add To Cart</a></div>
					</div>
				</form>
			</div>


		{% endfor %}
            
       </div>
	
	</div>
</body>
</html>
{% endblock content %}